{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/home.css'%}" />
<div class="home">
  <div class="rows">
    <div class="col-1">
      <h1>Mostly Viewd Organizations</h1>
      <section class="sec1">
        <div class="col">hi</div>
        <div class="col">hello</div>
        <div class="col">hi</div>
        <div class="col">hi</div>
        <div class="col">hi</div>
      </section>
      <h2>Top Mentors</h2>
      <section class="sec2">
        <div class="col">hi</div>
        <div class="col">hello</div>
        <div class="col">hi</div>
        <div class="col">hi</div>
        <div class="col">hi</div>
      </section>
      <h2>Connect with your Skillmate</h2>
      <section class="sec2">
        <div class="col img-container">
          <img class="img-container" src="{% static 'images/dev.png'%}" />
        </div>
        <div class="col">
          <img class="img-container" src="{% static 'images/dev.png'%}" />
        </div>
        <div class="col">
          <img class="img-container" src="{% static 'images/dev.png'%}" />
        </div>
        <div class="col">
          <img class="img-container" src="{% static 'images/dev.png'%}" />
        </div>
        <div class="col">
          <img class="img-container" src="{% static 'images/dev.png'%}" />
        </div>
      </section>
    </div>
    <div class="col-2">
      <h1>Hover Manager</h1>
      hi this is end Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Id vitae esse, a quis necessitatibus temporibus beatae totam pariatur nam
      sapiente sit voluptatibus! Adipisci similique, eveniet a dicta praesentium
      nobis repellendus?
    </div>
  </div>
</div>
{% endblock content %}
