{% extends "base.html" %}
{% load static %}
{% block title %}
Hackathons Feed
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/hackathons.css'%}">
<section class="h-head">
    <div class="">
        Post a Hackathon
        <span class="plus-symbol"> + </span>
    </div>
    <div class="">
        Total hackathons posted
    </div>
</section>
<section class="container">
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
    <div class="box">
        <span class="badge"> microsoft oppourtunities </span>
        <p class="descrp">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Commodi fugiat quidem iusto eligendi voluptate est eaque at mollitia beatae officia, placeat vel.
        </p>
        <button class="btn btn-primary"> View Details </button>
    </div>
</section>
{% endblock content %}