{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}" />

<div class="profile-container">
    <div class="flex-box">
        <!-- banner  card -->
        <section class="banner-card">
            <img src="{% static 'images/banner.jpg' %}">
        </section>
        <!-- Profile intro card -->
        <section class="sec-1">
            <div class="col-1">
                <img src="{% static 'images/dev.png' %}">
            </div>
            <div class="col-2">
                <p><span class="name">{{username}}</span>
                <br>Works at India</p>
            </div>
        </section>
    </div>
    <hr>
    <section class="section1">
        <div class="c1">
            <div class="trophie">
                <div class=""><p>First Visitor</p></div>
                <div class=""><p>First Visitor</p></div>
                <div class=""><p>First Visitor</p></div>
                <div class=""><p>First Visitor</p></div>
                <div class=""><p>First Visitor</p></div>
            </div>
            <hr>
            <div class="about-me">
                <div class=""><p><i class='bx bxs-circle bx-burst'></i>Iam a __</p></div>
                <div class=""><p><i class='bx bxs-circle bx-burst'></i>My Hobby is</p></div>
                <div class=""><p><i class='bx bxs-circle bx-burst'></i>Goal were</p></div>
                <div class=""><p><i class='bx bxs-circle bx-burst'></i>Target is</p></div>
                <div class=""><p><i class='bx bxs-circle bx-burst'></i>First Expirience</p></div>
            </div>
            <hr>
            <div class="skills">
                <div class=""><p>Engineering</p></div>
                <div class=""><p>Communication</p></div>
                <div class=""><p>Art</p></div>
                <div class=""><p>Public Speaking</p></div>
            </div>
        </div>
        <div class="c2">
            <h6>Social Media</h6>
            <div class="sm-links">
                <div>Facebook</div>
                <div>Twitter</div>
                <div>Whatsapp</div>
                <div>ChatGpt</div>
                <div>Email</div>
            </div>
            {# User Added iframes (to tell their profile viewers) #}
            <h6> My Portfolio iframes</h6>
            <div class="iframes-info">
                <box-icon type='logo' name='linkedin-square' color="fuchsia"></box-icon>
                <box-icon type='logo' name='github' color="fuchsia"></box-icon>
            </div>
        </div>
    </section>
    <hr>
    <section class="">
    </section>
</div>

{% endblock %}

{# <heading>Trophies</heading>
        <section class="sec-3">
            <div class="">First Visitor</div>
            <div class="">First Visitor</div>
            <div class="">First Visitor</div>
            <div class="">First Visitor</div>
        </section>
        <h2 class="title">About Me</h2>
        <section class="sec-4"></section>
            <textarea disabled aria-disabled="">
            loreum..
            </textarea>
            <ul>
                <li>Social Media</li>
                <li>Social Media</li>
                <li>Social Media</li>
                <li>Social Media</li>
            </ul>
        </section> #}
