.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    color: black;
}

hr {
    border: 0; /* Remove default border */
    height: 2px; /* Set the height of the line */
    background-color: #4717F6; /* Set the color of the line */
}
/* Sidebar */
.sidebar {
    background-color: #130f21!important;
    color: #F0E6EF;
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

/* General link styles */
.sidebar .nav-link {
    color: #F0E6EF;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Active link styles */
.sidebar .nav-link.active {
    background-color: #4717F6!important;
    color: #E7DFDD;
    border-radius: 4px;
}
